*{
    font-family: Arial, Helvetica, sans-serif;
}

.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
  }
  
  .homescreen__title {
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
  }
  
  .homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
  }
  
  @media (max-width: 1232px) {
    .homescreen__products {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  @media (max-width: 950px) {
    .homescreen__products {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 630px) {
    .homescreen__products {
      grid-template-columns: 1fr;
    }
  }


.product {
    width: 300px;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .product > img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .product__info > p {
    margin-bottom: 8px;
  }
  
  .info__price {
    font-weight: bold;
  }
  
  .info__name {
    font-size: 1rem;
    overflow: hidden;
  }
  
  .info__description {
    font-size: 0.8rem;
  }
  
  .info__button {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #171717;
    width: 90%;
    padding: 8px 16px;
    background-color: #f4f4f4;
    border: 1px solid #171717;
    font-size: 1rem;
  }
  
  .info__button:hover {
    background: #171717;
    color: #f4f4f4;
  }
  
  @media (max-width: 1232px) {
    .product {
      width: 360px;
    }
  }
  
  @media (max-width: 1115px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 1028px) {
    .product {
      width: 300px;
    }
  }
  
  @media (max-width: 950px) {
    .product {
      width: 400px;
    }
  }
  
  @media (max-width: 830px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 700px) {
    .product {
      width: 290px;
    }
  }
  
  @media (max-width: 630px) {
    .product {
      width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .product {
      width: 350px;
    }
  }
  
  @media (max-width: 400px) {
    .product {
      width: 300px;
    }
  }

  .cartscreen {
    display: flex;
    max-width: 1300px;
    margin: 2rem auto;
  }
  
  .cartscreen h2 {
    margin-bottom: 1rem;
  }
  
  .cartscreen__left {
    flex: 0.7;
    margin-right: 1rem;
    background: transparent;
    padding: 1rem;
  }
  .checkoutButton {
    transition: .5s;
  }
  .checkoutButton:hover{
    background-color: green;
  }
  .cartscreen__right {
    flex: 0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
    margin: 10px;
  }
  
  .cartscreen__right div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  
  .cartscreen__info p {
    padding: 8px;
  }
  
  .cartscreen__info p:first-child {
    font-weight: bold;
  }
  .cartscreen__right {
    border-radius: 10px;
  }
  .cartscreen__right div:last-child {
    border: none;
  }
  
  .cartscreen__right div button {
    padding: 10px 17px;
    width: 100%;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
  }
  
  .cartscreen__right div button:hover {
    opacity: 0.9;
  }
  
  @media (max-width: 1320px) {
    .cartscreen {
      max-width: 900px;
    }
  }
  
  @media (max-width: 960px) {
    .cartscreen {
      max-width: 800px;
    }
  }
  
  @media (max-width: 960px) {
    .cartscreen {
      flex-direction: column;
    }
  
    .cartscreen__right {
      margin: 1rem;
    }
    .cartItem__name {
        flex-direction: column;
    }
    .cartitem__price {
        flex-direction: column;
    }
  }


  .product_Name {
    font-size: 2em;
    text-align: center;
    float:inline-start
  }
  .product_Right {
    margin: 5%;
  }
  .addToCart {
    text-align: center;
    background: transparent;
}

.addToCartButton {
    transition: .5s;
    margin: 0;
    border-radius: 6px;
    width: 30%;
    height: 40px;
}
.addToCartButton:hover {
    background-color: green;
  }
.product_info {
    margin-left: 10%;
    font-size: 1.3em;
}
.product_Description {
    font-size: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 13px;
}

@media (max-width: 960px) {
    .product_info {
        align-items: center;
    }
}